.CardDetails__cardBox{
    width: 300px;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 5px 7px 5px rgb(0 0 0 / 8%);
    box-shadow: 5px 7px 5px rgb(0 0 0 / 12%);
    border:1px solid #d1d5db;
}
.CardDetails__cvv{
    display: inline;
    margin-left: 20px;
}
.CardDetails__exp{
    display: inline;
}
.CardDetails__number{
    margin-bottom: 20px;
}
.CardDetails__network{
    text-align: right;
    margin-top: 20px;
}
.CardDetails__name{
    font-size: 28px;
    margin-bottom: 30px;
}
.CardDetails__statusContainer{
    position: absolute;
    /* top: 0px; */
    right: 30%;
    
}
.cardDisabler{
    cursor:pointer;
    display: inline;
    color: #fff;
    border-radius: 40px;
    border: 1px solid;
    padding: 3px 5px;
    font-size: 10px;
    background-color: red;
}