.TransactionList {
  margin-top: 50px;
  position: relative;
}

.TransactionList__placeholderItem {
  margin-bottom: 20px;
}

.TransactionList__item {
  display: flex;
  padding: 20px 40px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}

.TransactionList__itemDate {
  width: 125px;
}

.TransactionList__item:hover {
  cursor: pointer;
  background-color: #F7FFFF;
}

.TransactionList__itemAmount {
  flex: 1;
  text-align: right;
  font-weight: 600;
}
.TransactionList__search{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 200px;
}