.App__nav {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 800;
  color: #06B6D4;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}
.CardDetailBlock{
  width: 100%;
  padding: 20px;
  background-color: #fff;
  margin: 20px;
}
.content_flex{
  display:flex;
}
.closeBlock{
  position:absolute;
  right:50px;
  cursor:pointer;
}